@media (max-width: 1180px) {
    .game-text {
        font-size: 120%;
    }
}

@media (max-width: 860px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 
                        "s"
                        "c";
        height: 480vh;
        grid-row-gap: 3vh;
    }
    .side {
        position: static;
        top: 0;
        font-size: 160%;
        grid-template-rows: 3fr 2fr;
    }
}

@media (max-width: 500px) {
    .news-item {
        font-size: 80%;
        text-align: center;
    }
    .csgo-bg, .overwatch-bg, .dota-bg, .paladins-bg {
        font-size: 60px;
    }
}

@media (max-width: 410px) {
    .main {
        grid-row-gap: 60vh;
    }
    .csgo-bg, .overwatch-bg, .dota-bg, .paladins-bg {
        font-size: 48px;
    }
    .news-item {
        padding: 20px 10px;
    }
}

@media (max-width: 340px) {
    .overwatch-bg {
        font-size: 36px;
    }
    .content-item {
        grid-template-rows: 0.5fr 1.5fr;
    }
    .main {
        grid-row-gap: 80vh;
    }
}
