@keyframes levitation {
    0% {
        transform: 0;
    }
    100% {
        transform: translateY(-4%);  
    }
}

@keyframes size {
    100% {
        transform: scale(1.4);
        border-radius: 25%;
    }
}