* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    user-select: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    outline: none;
}


/*==================== HEADER ====================*/


header {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 70px 100px;
    grid-template-areas: 
    "h1"
    "h2";
    padding: 0 5%;
    background-color: black;
}


/*==================== UP HEADER ====================*/


.up {
    display: grid;
    grid-area: h1;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
                "cyb logo soc";
    border-bottom: 1px solid #3d3b3b;
    align-items: center;
    position: sticky;
}

.header_text {
    grid-area: cyb;
    text-align: center;
}

.logo {
    grid-area: logo;
    align-items: center;
    text-align: center;
}

.social-list {
    display: flex;
    grid-area: soc;
    justify-content: flex-end;
}

.social-item a {
    margin-left: 20px;
    transition: 0.5s ease;
    color: white;
}


/*==================== DOWN HEADER ====================*/


.down {
    display: grid;
    grid-area: h2;
    grid-template-areas: 
            "menu";
}

.menu {
    display: flex;
    grid-area: menu;
    align-items: center;
    text-align: center;
}

.menu-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.menu-item a {
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
    transition: 0.5s;
    color: #38585a;
}


/*==================== SLIDER ====================*/


/*     Set a height of div with slides and blindness     */

.slider {
    max-width: 100%;
    overflow: hidden;
    max-height: 100vh;
    filter: brightness(50%);
    z-index: 1;
    position: absolute;
}

/*     Hide slides one by one     */

.slider .single-item{
    position: relative;
}

/*==================== ARROWS ====================*/


.slider .slick-arrow {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    z-index: 4;
    font-size: 0;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    outline-width: 0;           /*HIDE BORDER WHEN IT'S CLICKED*/
}

.slider .slick-arrow.slick-prev {
    margin-left: 2%;
    left: 0;
    background: url(/img/left-arrow.svg) 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    margin-right: 2%;
    right: 0;
    background: url(/img/right-arrow.svg) 0 0 / 100% no-repeat;
}


/*==================== MAIN SLIDER TEXT ====================*/


.main-title {
    width: 100%;
    z-index: 3;
    font-size: 128px;
    position: absolute;
    margin-top: 15vh;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
}

.main-subtitle {
    width: 80%;
    z-index: 3;
    font-size: 40px;
    position: absolute;
    margin-top: 50vh;
    left: 10%;
    font-family: 'Roboto Slab', serif;
    text-align: center; 
    color: #9e9e9e;
}


/*==================== LIST OF SPONSORS ====================*/


.sponsors {
    height: 20vh;
    width: 100%;
    font-size: 16px;
    color: white;
    background: black;
}

.list-sponsors {
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.item-sponsor, .item-sponsor a {
    font-size: 200%;
    transition: 0.5s ease;
    color: #343a40;
}


/*==================== CYBERSPORT ====================*/


.cybersport {
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 3fr;
    grid-template-areas: 
                ". T I";
    background-color: #0f0f0f;
}

.cybersport-text {
    max-height: 80vh;
    display: grid;
    grid-area: T;
    grid-template-rows: 0.5fr 1fr 3fr;
    padding-right: 5%;
    color: white;
}

.ctext1 {
    display: flex;
    align-items: flex-end;
    font-size: 2vw;
    font-family: 'Comfortaa', cursive;
    color: #3786ff;
}

.ctext2 {
    display: flex;
    font-family: 'Roboto Slab', serif;
    font-size: 4vw;
    align-items: center;
}

.ctext3 {
    font-family: 'Comfortaa', cursive;
    font-size: 2.5vh;
    line-height: 150%;
    color: #848484;
}

.cybersport-img {
    display: flex;
    grid-area: I;
    position: relative;
    align-items: center;
}

.cybersport-img img {
    max-height: 80vh;
    max-width: 50vw;
}


/*==================== GAMES ====================*/



.games {
    height: 100vh;
    width: 100%;
    background: #000;
}

.games h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 3vw;
    text-align: center;
    padding-top: 5%;
    color: #3786ff;
}

.game-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin: 5% 10% 0;
    color: white;
}

.game-item {
    height: 60vh;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    overflow: hidden;
    margin: 0 5%;
    background-color: #000000;
}

.game-name {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: 2vw;
    font-family: 'Roboto Slab', serif;
    word-wrap: break-word;
}

.game-pic {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-button {
    height: 70%;
    width: 100%;
    margin-top: 5%;
    transition: 1s ease;
    border: 0;
    outline: none;
    font-family: 'Roboto Slab', serif;
    font-size: 150%;
    color: #257bfd;
    background: linear-gradient(to left, white 50%, #257bfd 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}


/*====================VIDEO====================*/


.video {
    max-width: 100%;
    height: 20vh;
    display: flex;
    box-shadow: inset 0px 16px 60px -1px #000000b8;
    justify-content: center;
    align-items: center;
    background: url(/img/video.jpg);
}

.video button {
    height: 60px;
    width: 60px;
    text-align: center;
    border: 0;
    font-size: 24px;
    outline: none;
    transition: 0.5s ease-in-out;
    animation: ease-in-out infinite alternate;
    animation-name: size;
    animation-duration: 2.5s;
    color: white;
    background: #4b9bf6;
}


/*===================NEWS=====================*/

.news {
    height: 100vh;
    width: 100%;
    background: #000;
}

.news h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 3vw;
    text-align: center;
    padding-top: 5%;
    color: #3786ff;
}

.news-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 5% 10% 0;
    color: white;
}

.news-item {
    height: 60vh;
    display: grid;
    grid-template-rows: 2fr 1.5fr 1fr;
    margin: 0 5%;
    background-color: none;
}

.news span {
    display: flex;
    font-size: 4vh;
    font-family: 'Roboto Slab', serif;
    align-items: center;
    color: #3786ff;
}

.news-name {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: 2vw;
    font-family: 'Roboto Slab', serif;
    word-wrap: break-word;
}

.news-pic {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.news-button {
    height: 10vh;
    width: 80%;
    margin-top: 5%;
    transition: 1s ease;
    border: 0;
    outline: none;
    font-family: 'Roboto Slab', serif;
    font-size: 120%;
    color: #257bfd;
    background: linear-gradient(to left, white 50%, #257bfd 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

/*====================CONTACTS====================*/

.contacts {
    height: 80vh;
    max-width: 100%;
    text-align: center;
    background: #0a0a0a;
}

.contacts h2 {
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding-top: 1%;
    color: #3786ff;
}

.backform {
    height: 80%;
    display: grid;
    grid-template-columns: 2fr 0.5fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
            "FN FBUT FT"
            "FE FBUT FT";
    margin-top: 2%;
    font-family: 'Roboto Slab', serif;
    color: #405e8b;
}

textarea {
    width: 70%;
    height: 70%;
    font-family: 'Roboto Slab', serif;
    resize: none;
    outline: none;
    border-radius: 56px;
    padding: 10px 40px;
    border-color: teal;
    color: #d66b07;
}
input {
    height: 20%;
    width: 90%;
    font-family: 'Roboto Slab', serif;
    padding: 0 10px;
    outline: none;
    border-radius: 25px;
    text-align: center;
    border-color: teal;
    color: #d66b07;
}

.name-div {
    grid-area: FN;
}

.email-div {
    grid-area: FE;
}

.text-div {
    grid-area: FT;
}

.backform input {
    margin-top: 8%;
}

.backform textarea {
    margin-top: 2%;
}

.send-div {
    display: flex;
    grid-area: FBUT;
    align-items: center;
    justify-content: space-around;
}

.send-div button {
    height: 50px;
    width: 50px;
    font-size: 30px;
    border: none;
    transition: 0.5s ease-in-out;
    background: none;
    color: #1bf8b6;
}